html {
  background-color: #282c34;
  color: white;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-width: 99.8%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.intro-container h1 {
  font-size: 5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  text-decoration: none;
}

.buttons a {
  text-decoration: none;
}
